@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%); 
  --Dark-grayish-blue: hsl(236, 13%, 42%); 
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Soft-orange: hsl(35, 77%, 62%); 
  --Soft-red: hsl(5, 85%, 63%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html,body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* header section */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--Grayish-blue);
}

header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 6.4rem;
}

header .nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4.1rem;
}

header .nav-bar ul li a {
  color: var(--Dark-grayish-blue);
}

header .nav-bar ul li a:hover {
  color: var(--Soft-red);
}

header .menu-btn {
  display: none;
}

header .menu-btn-close {
  display: none;
}

header .overlay {
  display: none;
  opacity: 0;
}

/* media queries */
@media (max-width: 768px) {
  header .menu-btn {
    display: inline-block;
  }

  header .nav-bar {
    height: 100vh;
    width: 70%;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: var(--Off-white);
    z-index: 150;
  }

  header .nav-bar.active {
    right: 0;
  }

  header .overlay.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    opacity: .4;
    background-color: var(--Very-dark-blue);
  }

  header .nav-bar ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    margin-top: 18rem;
  }

  header .nav-bar ul li a {
    font-size: 1.8rem;
  }

  header .menu-btn {
    cursor: pointer;
  }

  header .menu-btn-close {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 180;
    cursor: pointer;
  }

  header .menu-btn-close.active {
    display: block;
  }
} 